@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {

  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container{
    margin-top: 3rem;
    margin-bottom: 4rem;
}

.container h1{
    text-align: center;
    color:  rgb(90, 99, 119);
    font-size: 4rem;
    font-weight: 700;
    font-family:"Kanit", sans-serif ;
    margin-bottom: 3rem;
    animation-fill-mode: both;
    animation-duration: 2000ms;
    animation-delay: 0ms;
    animation-iteration-count: 1;
    
    animation-name: react-reveal-703250351393876-3;
}


@keyframes react-reveal-703250351393876-3 {
             from{
                opacity: 0;

             }
             to{
                 opacity: 1;
             }

}

.container .greeting{
    display: flex;
    align-items: center;
    gap: 2rem;
}

/* .container .greeting{
    margin-bottom: 2rem;
} */


/* .container .greeting .image{
    background-color: gainsboro;
} */

.container .greeting .image img{
    width: 80%;
    animation-fill-mode: both;
    animation-delay: 2000ms;
    animation-duration: 0ms;
    animation-iteration-count: 1;
    /* animation-timeline:; */
    animation-name: react-reveal-703250351393876-4;
    
}

@keyframes react-reveal {
    from{
        opacity: 0;

    }
    to{
        opacity:1 ;
    }
}


.container .greeting .package h2{
    font-size: 3rem;
    font-weight: 300;
    color: rgb(23, 33, 61);
    font-family: "Kanit", sans-serif ;
    animation-fill-mode: both;
    animation-delay: 1000ms;
    animation-iteration-count: 1;
    opacity: 1;
    animation-name: react-reveal-703250351393876-5;
}


@keyframes react-reveal-703250351393876-5{
    from{
        opacity: 0;
        animation-delay: 500ms;

    }
    to{
        animation-delay: 0ms;
        opacity: 3;
    }
}

.container .greeting .package .me{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin: 2rem 0;
}

.container .greeting .package .me img{
    width: 10vh;
}


.container .greeting .description .paragraph{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}


.container .description .paragraph img{
    width: 1.5rem;
    height: 1.5rem;
    color:gainsboro;
    margin-top: -2rem;
}


.container .description .paragraph p{
    font-size: 1.5rem;
    font-weight: 400;
    color: rgb(90, 99, 119);
    font-family:"Kanit", sans-serif ;
}

/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  @media (min-width: 320px) and (max-width: 480px) {
    .container{
        margin-top: 20%;
       
    }  
    
    .container h1{
        text-align: center;
        font-size: 2rem;
        font-weight: 600;
        margin-top: 8rem;
        
        
       
    }

    .container .greeting{
        display: flex;
        flex-direction: column;

    }

    .container .greeting .image{
        text-align: center;
    }

    

    .container .greeting .package h2{
        font-size: 1rem;
        font-weight: 600;
        text-align: center;
        margin-top: 1rem;
        
    }

    .container .greeting .package .me img{
        width: 7vh;
    }
    


    
    
    .container .description .paragraph img{
        width: 1.2rem;
        height: 1.2rem;
        margin-top: -0.2rem;
        border-radius: 2rem;
       
    }

    .container .greeting .description{
       text-align: center;
    }
    

    .container .description .paragraph p{
        font-size: 0.5rem;
        font-weight: 300;
        
        
    }
  }
  
  /* 
      ##Device = Low Resolution Tablets, Mobiles (Landscape)
     ##Screen = B/w 481px to 767px
    */
  @media (min-width: 481px) and (max-width: 767px) {
    .container{
        margin-top: 20%;
    }  
    
    .container h1{
        text-align: center;
        font-size: 2rem;
        font-weight: 800;
        margin-top:17rem;
        
        
       
    }

    .container .greeting{
        display: flex;
        flex-direction: column;

    }

    .container .greeting .image{
        text-align: center;
    }

   

    
    

    .container .greeting .package h2{
        font-size: 1.5rem;
        font-weight: 500;
        text-align: center;
        margin-top: 1rem;
        
    }

    /* .container  .greeting .package .description  {
          display: block;
         justify-content: center;
    } */


    
    
    .container .description .paragraph img{
        width: 1.2rem;
        height: 1.2rem;
        margin-bottom: -1.5rem;
        border-radius: 2rem;
        
        
       
    }

    .container .description .paragraph p{
        font-size: 0.6rem;
        font-weight: 300;
        
        
    }
    
  }
  
  /* 
      ##Device = Tablets, Ipads (landscape)  ##Screen = B/w 768px to 1024px
    */
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
   
     
    .container h1{
        font-size: 2.5rem;
        font-weight: 600;
       
        
        
       
    }

    .container .greeting{
        display:flex ;
        /* align-items: center; */

    }

  
    
    

    .container .greeting .package h2{
        font-size: 1rem;
        font-weight: 400;
        /* margin-top: 2rem; */
        
    }


    
    
    .container .description .paragraph img{
        width: 1rem;
        height: 1rem;
        margin-top: 0.3rem;
        border-radius: 2rem;
       
    }

   

    
    .container .description .paragraph p{
        font-size: 0.65rem;
        font-weight: 300;
        
        
    }
    
  }
  
  /* 
      ##Device = Tablets, Ipads (portrait)  ##Screen = B/w 768px to 1024px
    */
  @media (min-width: 768px) and (max-width: 1024px) {
  }
  
  /* 
      ##Device = Laptops, Desktops  ##Screen = B/w 1025px to 1280px
    */
  @media (min-width: 1025px) and (max-width: 1280px) {
    .container{
        margin-top: 20%;
        
    }  
    
    .container h1{
        text-align: center;
        font-size: 3rem;
        font-weight: 600;
       
    }

    .container .greeting .package .me img{
       width: 3rem;

    }

    

   

    .container .greeting .package h2{
        font-size: 2rem;
        font-weight: 400;
        text-align: center;
        margin-top: 1rem;
        
    }

   


    
    
    .container .description .paragraph img{
        width: 1.5rem;
        height: 1.5rem;
        margin-bottom: -1.5rem;
        border-radius: 2rem;
        
        
       
    }

    .container .description .paragraph p{
        font-size: 1rem;
        font-weight: 300;
        
        
    }
    
  }
  
  /* 
    ##Device = Desktops  ##Screen = 1281px to higher resolution desktops
  */
  @media (min-width: 1281px) {
    .container{
        margin-top: 10%;
        
    }  
    
    .container h1{
        font-size: 4rem;
        font-weight: 600;
    }

    

    .container .greeting .package .me img{
        width: 3.5rem;
    }
    
    

    .container .greeting .package h2{
        font-size: 2.2rem;
        font-weight: 400;
        text-align: center;
        margin-top: 1rem;
        
    }

    

    
    
    .container .description .paragraph img{
        width: 2rem;
        height: 2rem;
        margin-bottom: -0.5rem;
        border-radius: 2rem;
        
      
       
    }

    .container .description .paragraph p{
        font-size: 1.5rem;
        font-weight: 300;
        
        
    }
    
  }



    
    



