@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.content{
    display: flex;
    align-items: center;
    gap: 2rem;
    
}


.content .image img{
    width: 80%;
}


.content .content-text{
        margin-top: -5rem;

}
.content .content-text h1{
    font-size: 3rem;
    font-weight: 300;
    font-family: "Kanit", sans-serif;
    color: rgb(23, 33, 61);
}

.content .content-text .images{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: 2rem 0;
}

.content .content-text .images img{
    width: 10vh;
}


.content .content-text .p .star{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}



.content .content-text .p .star img{
    width: 1.5rem;
    height: 1.5rem;
}

.content .content-text .p .star p{
    font-size: 1.3rem;
    font-weight: 400;
    color: rgb(90, 99, 119);
    font-family:"Kanit", sans-serif 
}


@media (min-width: 320px) and (max-width: 480px) {
    .content{
        display: flex;
        flex-direction: column;
        
        
 } 


 .content .content-text{
    margin-top: -0rem;

}


 .content .content-text h1{
    font-size: 1rem;
   text-align: center;
   margin-bottom: -1rem;
   
}

.content .image {
    text-align: center;
}

.content .content-text .p .star img{
    width: 1rem;
    height: 1rem;
    border-radius: 2rem;
}

.content .content-text .p .star p{
    font-size: 0.5rem;
    font-weight: 400;
    
}

  }
  
  /* 
      ##Device = Low Resolution Tablets, Mobiles (Landscape)
     ##Screen = B/w 481px to 767px
    */
  @media (min-width: 481px) and (max-width: 767px) {
    .content{
        display: block;
        align-items: center;
      
        
 } 


 .content .content-text{
    margin-top: -0rem;

}


 .content .content-text h1{
    font-size: 2rem;
   text-align: center;
   margin-bottom: 1rem;
   margin-top: 1rem;
   
}

.content .image {
    text-align: center;
}

.content .content-text .p .star img{
    width: 1.5rem;
    height: 1.5rem;
}

.content .content-text .p .star p{
    font-size: 1rem;
    font-weight: 400;
    
}

  }
  
  /* 
      ##Device = Tablets, Ipads (landscape)  ##Screen = B/w 768px to 1024px
    */
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .content{
        display: block;
        align-items: center;
        
 } 


 .content .content-text{
    margin-top: -0rem;

}


 .content .content-text h1{
    font-size: 3rem;
   text-align: center;
   margin-bottom: 1rem;
   margin-top: 1rem;
   
}

.content .image {
    text-align: center;
}

.content .content-text .p .star img{
    width: 1.5rem;
    height: 1.5rem;
}

.content .content-text .p .star p{
    font-size: 1.3rem;
    font-weight: 400;
    
}

  }
  
  /* 
      ##Device = Tablets, Ipads (portrait)  ##Screen = B/w 768px to 1024px
    */
  @media (min-width: 768px) and (max-width: 1024px) {
  }
  
  /* 
      ##Device = Laptops, Desktops  ##Screen = B/w 1025px to 1280px
    */
  @media (min-width: 1025px) and (max-width: 1280px) {
    


 .content .content-text{
    margin-top: -0rem;

}


 .content .content-text h1{
    font-size: 2rem;
   text-align: center;
   margin-bottom: 1rem;
   margin-top: 1rem;
   
}


.content .content-text .p .star img{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 2rem;
}

.content .content-text .p .star p{
    font-size: 1.3rem;
    font-weight: 400;
    
}

  }
  
  /* 
    ##Device = Desktops  ##Screen = 1281px to higher resolution desktops
  */
  @media (min-width: 1281px) {
  }
  



    







