

.scroll-to-top {
    bottom: 40px;
    right: 20px;
    background-color: #0F1A34; 
    color: white;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s, transform 0.3s;
    opacity: 0;
    transform: translateY(20px);
    visibility: hidden;
  }
  
   .scroll-to-top.show {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
    padding: 1rem;
    position: fixed;
    right: 20px;
    top: 80%;
    width: 3.5rem;
    height:10vh ;

  }
  
  .scroll-to-top:hover {
    background-color: #ffffff; 
    color: #0F1A34;
    border: 1px solid #0F1A34;
  
  }



  @media (min-width: 320px) and (max-width: 480px) {

    .scroll-to-top{
      font-size: 40px;
    }
    .scroll-to-top.show {
     
      /* top: 85%; */
      /* right: rem; */
      /* left: ; */
      width: 2.5rem;
      height:2.5rem ;
  
    }
  }


  @media (min-width: 481px) and (max-width: 767px) {

    .scroll-to-top.show{
      width: 3rem;
      height: 3rem;
    }

  }


  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .scroll-to-top.show{
      width: 5rem;
      height: 5rem;
      padding: 2rem;
    }
  }



  @media (min-width: 768px) and (max-width: 1024px) {

  }



  @media (min-width: 1025px) and (max-width: 1280px) {
    .scroll-to-top.show{
      width: 4rem;
      height: 4rem;
      padding: 1.5rem;
    }
  }



  @media (min-width: 1281px)  {
    .scroll-to-top.show{
      width: 3rem;
      height: 3rem;
      padding: 2rem;
    }
  }