.fag {
  max-width: 100%;
  background-color: #ffff;
  padding: 1rem;
  margin-top: 10%;
}
.fag .toggle {
  border-bottom: 1px solid #e5e7eb;
}

.fag .section {
  border: 1px solid #ef4421;
  padding: 1rem;
  border-radius: 2rem;
  text-align: center;
  font-weight: bold;
  font-family: "Kanit", sans-serif;
  font-size: 2rem;
  animation: blink;
  animation-duration: 2s;
  animation-timing-function: ease-in;
}

@keyframes blink {
    0%{
        transform: scale(0);
        opacity: 0;

    }


    50%{
        transform: scale(1);
        opacity: 1;
    }

}


.fag button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  font-weight: 400;
  background: white;
  border: none;
  cursor: pointer;
  font-family: "Kanit", sans-serif;
 
}




@media (min-width: 320px) and (max-width: 480px) {
  .fag {
    padding: 0.8rem;
    
  }


  .fag .section {
    border: 1px solid rgb(228, 145, 21);
    padding: 0.6rem;
    border-radius: 1.5rem;
    text-align: center;
    font-size: 1rem;
    
  }

  .fag button {
    padding: 1rem;
    font-size: 0.8rem;
  }
  
  
}


/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
   ##Screen = B/w 481px to 767px
  */
  @media (min-width: 481px) and (max-width: 767px) {
    .fag {
      padding: 0.8rem;
      
    }
  
  
    .fag .section {
      border: 1px solid rgb(228, 145, 21);
      padding: 0.6rem;
      border-radius: 1.5rem;
      text-align: center;
      font-size: 1.4rem;
      
    }
  
    .fag button {
      padding: 1rem;
      font-size: 0.8rem;
    }
  }

/* 
    ##Device = Tablets, Ipads (landscape)  ##Screen = B/w 768px to 1024px
  */
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape)  {

}


/* 
    ##Device = Tablets, Ipads (portrait)  ##Screen = B/w 768px to 1024px
  */
@media (min-width: 768px) and (max-width: 1024px) {

}


/* 
  ##Device = Laptops, Desktops  ##Screen = B/w 1025px to 1280px
*/


@media (min-width: 1025px) and (max-width: 1280px) {
  .fag {
    padding: 0.8rem;
  }


  .fag .section {
    border: 1px solid rgb(228, 145, 21);
    padding: 0.6rem;
    border-radius: 1.5rem;
    text-align: center;
    font-size: 2rem;
    
  }

  .fag button {
    padding: 2rem;
    font-size: 1.5rem;
  }
}


@media (min-width: 1281px) {
  .fag {
    padding: 1rem;
    
  }


  .fag .section {
    border: 1px solid rgb(228, 145, 21);
    padding: 2rem;
    border-radius: 1.5rem;
    text-align: center;
    font-size: 3rem;
    
  }

  .fag button {
    padding: 2rem;
    font-size: 2rem;
  }
  }
