@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



.project{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10%;
}


.project .image img {
    width: 80%;
    border-radius: 2rem;

}


.project-container h1{
    font-family: "Kanit", sans-serif ;
    font-size: 3rem;
    font-weight: 500;
    color: rgb(23, 33, 61);
    text-align: center;
    margin-bottom: 2rem;
    margin-bottom: 3rem;
}

.project-container p{
    font-family: "Kanit", sans-serif ;
    font-size: 1.2rem;
    font-weight: 400;
    color: rgb(90, 99, 119);
}


.card-section {
    display: grid;
    grid-template-columns: 2fr 2fr ;
    align-items: center;
    gap: 2rem 2rem;
    margin-top: 10%;
}







.card-section .card{
    background-color: rgb(255, 255, 255);
    box-shadow: 0 10px 30px -15px rgba(0,0,0,.2);
    border-radius: 1rem;
    
    padding: 2rem 1rem 2rem 2rem;
    animation: blink;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    
}


@keyframes blink {
    0%{
        transform: scale(0);
        opacity: 0;

    }


    50%{
        transform: scale(1);
        opacity: 1;
    }

}



.card-section .card .title-div{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}

.card-section .card .title-div img{
    width: 2rem;
}

.card-section .card .title-div h1 a {
    color: rgb(20, 33, 61);
    font-family:"Kanit", sans-serif ;
    font-size: 2rem;
    font-weight: 400;
    text-decoration: underline;
    cursor: pointer;
    
}


.card-section .card  h1 a:hover{
    color:rgb(90, 99, 119) ;
    transition: 0.5s linear;
}


.card-section .title-description{
    color: rgb(20, 33, 61);
    font-size: 0.9rem;
    font-weight: 300;
    font-family:"Kanit", sans-serif ;
    margin-bottom: 1rem;
}

.card-section .repo-creation-date{
    color: rgb(90, 99, 119);
    font-family: "Kanit", sans-serif ;
    font-weight: 400;
}

 .btn  {
    text-align: center;
    margin-top: 2rem;
}




.btn a button {
    padding: 1rem 2rem;
    background-color: rgb(20, 33, 61);
    color: rgb(229, 229,229);
    border: 1px solid rgb(20, 33, 61);
    border-radius: 0.5rem;
    
}

.btn a button:hover{
    background-color: rgb(229, 229,229);
    color: rgb(23, 33, 61);
    
}

.btn  a{
    
    font-weight: 400;
    font-size: 1rem;
    font-family:"Kanit", sans-serif ;
}



@media (min-width: 320px) and (max-width: 480px) {
     /* .nav{
        width: 100%;
     } */

    .project{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top:5rem;
    }
    
    
    .project .image img {
        width: 60%;
        border-radius: 1rem;
    
    }

    .project-container p{
       
        font-size: 0.48rem;
        font-weight: 400;
       
    }
    
    
    .card-section {
        display: flex;
        flex-direction: column;
        /* gap: 3rem; */
        margin-top: 10%;
        
    }
    
   
    
    
    
    
    
    .card-section .card{
        height: 10rem;
        width: 95%;
        border-radius: 0rem;
        /* margin-bottom: 1.5rem; */
        padding: 0.5rem
        
    }


    .card-section .card .title-div img{
        width: 1rem;
        margin-bottom: -1rem;
    }
    

    .card-section .card .title-div h1 a {
        font-size: 0.8rem;
        font-weight: 400;
        text-transform: uppercase;
        
        
    }
    
    
     .card-section .title-description{
        /* width: 100%; */
         /* font-weight: 500;
        font-size: 0.55rem;
        margin-bottom: 1rem; */
      
    }

    .card-section .title-description p{
        width: 100%;
        font-size: 0.65rem;
         font-weight: 400;
        margin-bottom: 1rem;
    }
    
    .card-section .repo-creation-date{
        
        font-weight: 300;
        font-size: 0.7rem;
        /* margin-bottom: -0.5rem; */
    }


    .btn  a button{
    
        font-weight: 600;
        font-size: 0.6rem;
        padding: 0.5rem 1rem;
        
    }

  }
  
  /* 
      ##Device = Low Resolution Tablets, Mobiles (Landscape)
     ##Screen = B/w 481px to 767px
    */
  @media (min-width: 481px) and (max-width: 767px) {
    .project{
        display: block;
        text-align: center;
        margin-top: 30%;
    }
    
    
    .project .image img {
        width: 80%;
        border-radius: 1rem;
    
    }

    .project-container h1{
        font-size: 3rem;
    }

    .project-container p{
        font-size: 0.7rem;
        font-weight: 400;
    }
    
    
    .card-section {
        display: block;
        margin-top: 10%;
        
    }
    

    
    
    
    .card-section .card{
        
        border-radius: 0.5rem;
        margin-bottom: 3rem;
        
    }


    .card-section .card .title-div img{
        width: 1.5rem;
        margin-bottom: -0.5rem;
    }
    

    .card-section .card .title-div h1 a {
        font-size: 1rem;
        font-weight: 400;
        text-transform: uppercase;
        
        
    }
    
    
    .card-section .title-description{
        
        font-size: 0.7rem;
        margin-bottom: 0.3rem;
    }
    
    .card-section .repo-creation-date{
        
        font-weight: 300;
        font-size: 0.8rem;
        margin-bottom: 1rem;
    }
    .btn a button{
        font-size: 1rem;
        padding: 0.6rem 1.3rem;
    }

  }
  
  /* 
      ##Device = Tablets, Ipads (landscape)  ##Screen = B/w 768px to 1024px
    */
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .project{
        display: block;
        text-align: center;
        margin-top: 30%;
    }
    
    
    .project .image img {
        width: 50%;
        border-radius: 1rem;
    
    }

    .project-container h1{
        font-size: 3rem;
    }

    .project-container p{
        font-size: 0.7rem;
        font-weight: 500;
    }
    
    
    .card-section {
        display: block;
        margin-top: 10%;
        
    }
    

    
    
    
    .card-section .card{
        /* width: ; */
        height: 50%;
        border-radius: 0.5rem;
        margin-bottom: 2rem;
        
    }


    .card-section .card .title-div img{
        width: 1.5rem;
        margin-bottom: -0.5rem;
    }
    

    .card-section .card .title-div h1 a {
        font-size: 1.5rem;
        font-weight: 400;
        text-transform: uppercase;
        
        
    }
    
    
    .card-section .title-description{
        
        font-size: 0.9rem;
        margin-bottom: 0.3rem;
    }
    
    .card-section .repo-creation-date{
        
        font-weight: 300;
        font-size: 0.8rem;
        margin-bottom: 1rem;
    }
    .btn a button{
        font-size: 1.5rem;
        padding: 1rem 1.3rem;
    }

    
  }
  
  /* 
      ##Device = Tablets, Ipads (portrait)  ##Screen = B/w 768px to 1024px
    */
  @media (min-width: 768px) and (max-width: 1024px) {

  }
  
  /* 
      ##Device = Laptops, Desktops  ##Screen = B/w 1025px to 1280px
    */
  @media (min-width: 1025px) and (max-width: 1280px) {
    .project{
       
        margin-top: 20%;
    }
    
    
    .project .image img {
        width: 80%;
        border-radius: 1rem;
    
    }

    .project-container h1{
        font-size: 3.5rem;
    }

    .project-container p{
        font-size: 0.8rem;
        font-weight: 400;
        text-align: center;
    }
    
    
    .card-section {
        /* display: block; */
        margin-top: 10%;
        
    }
    

    
    
    
    .card-section .card{
        height: 80%;
        border-radius: 0.5rem;
        margin-bottom: 3rem;
        
    }


    .card-section .card .title-div img{
        width: 1.5rem;
        margin-bottom: -0.5rem;
    }
    

    .card-section .card .title-div h1 a {
        font-size: 1.5rem;
        font-weight: 400;
        text-transform: uppercase;
        
        
    }
    
    
    .card-section .title-description{
        font-weight: 400;
        font-size: 1rem;
        margin-bottom: 0.8rem;
    }
    
    .card-section .repo-creation-date{
        
        font-weight: 400;
        font-size: 1rem;
        margin-bottom: 1rem;
    }
    .btn a button{
        font-size: 1.6rem;
        /* padding: 0.6rem 1.3rem; */
    }

  }
  
  /* 
    ##Device = Desktops  ##Screen = 1281px to higher resolution desktops
  */
  @media (min-width: 1281px) {
    .project{
        /* display: block; */
        /* text-align: center; */
        margin-top: 30%;
    }
    
    
    .project .image img {
        width: 70%;
        border-radius: 1rem;
    
    }

    .project-container h1{
        font-size: 5rem;
    }

    .project-container p{
        font-size: 1.3rem;
        font-weight: 400;
    }
    
    
    .card-section {
        /* display: block; */
        margin-top: 10%;
        
    }
    

    
    
    
    .card-section .card{
        width: 90%;
        height: 90%;
        border-radius: 0.5rem;
        margin-bottom: 3rem;
        
    }


    .card-section .card .title-div img{
        width: 1.5rem;
        margin-bottom: -0.5rem;
    }
    

    .card-section .card .title-div h1 a {
        font-size: 2rem;
        font-weight: 400;
        text-transform: uppercase;
        
        
    }
    
    
    .card-section .title-description{
        font-weight: 400;
        font-size: 1rem;
        margin-bottom: 0.3rem;
    }
    
    .card-section .repo-creation-date{
        
        font-weight: 300;
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
    .btn a button{
        font-size: 2rem;

    }

  }









